<body>
  <div class="container-fluid">
    <div class="loginModal">
      <div class="extraBackground"></div>
      <div class="loginContent">
        <h3>Đăng nhập</h3>
        <form [formGroup]="form" (ngSubmit)="signin()">
          <div>
            <label for="sdtoremail">Số điện thoại/Email</label>
            <input
              formControlName="username"
              class="form-control"
              type="text"
              id="sdtoremail"
            />
          </div>
          <div>
            <label for="sdtoremail">Mật khẩu</label>
            <input
              formControlName="pw"
              class="form-control"
              type="text"
              id="sdtoremail"
            />
          </div>
          <button class="btn btn-primary" type="submit">Đăng nhập</button>
          <p routerLink="/users/signup">Đăng ký</p>
          <p>Quên mật khẩu</p>
        </form>
      </div>
    </div>
  </div>
</body>
