<div class="inner-content">
  <div class="row" *ngIf="user == null">
    <div class="col-sm-6">
      <div class="content-title">Kiểm tra vé</div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <label for="sdt_kh">Số điện thoại khách hàng</label>
          <nz-form-control
            class="col-sm-6"
            nzErrorTip="Vui lòng không để trống trường này!"
          >
            <input id="sdt_kh" type="text" nz-input formControlName="sdt_kh" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label for="ma_ve">Mã vé</label>
          <nz-form-control
            class="col-sm-6"
            nzErrorTip="Vui lòng không để trống trường này!"
          >
            <input id="ma_ve" type="text" nz-input formControlName="ma_ve" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div *ngIf="ve != null" class="col-sm-6">
      <div class="content-title">Thông tin vé</div>
      <div class="border shadow rounded" style="background-color: #ffffff">
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Mã vé:</p>
          <p>{{ ve.ma_ve }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Tên khách hàng:</p>
          <p>{{ ve.ten_kh }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Số điện thoại khách hàng:</p>
          <p>{{ ve.sdt_kh }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Tên xe:</p>
          <p>{{ ve.ten_xe }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Số điện thoại nhà xe:</p>
          <p>{{ ve.sdt_xe }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Điểm đi:</p>
          <p>{{ ve.diem_di }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Điểm đến:</p>
          <p>{{ ve.diem_den }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Điểm đón:</p>
          <p>{{ ve.diem_don.gio }} | {{ ve.diem_don.dia_diem }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Điểm trả:</p>
          <p>{{ ve.diem_tra.gio }} | {{ ve.diem_tra.dia_diem }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Vị trí:</p>
          <p>{{ ve.vi_tri }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <p style="font-weight: bold">Phương thức thanh toán:</p>
          <p>{{ ve.pt_thanh_toan }}</p>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <h5 style="font-weight: bolder">Tổng tiền:</h5>
          <h5 style="color: red">{{ ve.tong_tien }} đ</h5>
        </div>
      </div>
    </div>
  </div>
</div>
