<div class="component-container">
    <div class="component-container-wrapper">
        <div class="header-row-wrapper">
            <table>
                <thead>
                    <tr class="header-row">
                        <th class="header-cell column1">Stt</th>
                        <th class="header-cell column2">Mã Đơn</th>
                        <th class="header-cell column3">Loại Đơn</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table-content-section" id="style-2">
            <table>
                <tbody>              
                    <tr *ngFor="let item of listAgencyBill; let i=index" class=" body">
                        <th class="text-cell column1">{{i+1}}</th>
                        <td class="text-cell column2">{{item.maphieuthutien}}</td>
                        <td class="text-cell column3">Phiếu thu tiền <i class="fas fa-file-invoice" (click)="onBillClick(item)"></i></td>

                    </tr>   
                    <tr *ngFor="let item of  listAgencyInvoices; let i=index" class=" body">
                        <th class="text-cell column1">{{i+numberOfBills+1}}</th>
                        <td class="text-cell column2">{{item.maphieuxh}}</td>
                        <td class="text-cell column3">Phiếu xuất tiền <i class="fas fa-file-invoice" (click)="onInvoiceClick(item)"></i></td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>