.inner-content {
    background-image   : url("src/assets/img/main-background.jpg");
    padding            : 24px;
    height             : 100vh;
    // min-height         : 800px;
    width              : auto;
    background-repeat  : no-repeat;
    background-position: 0% 50%;
}

span {
    content: "\2605";
    color: goldenrod;
}

