.inner-content {
    background-image   : url("src/assets/img/main-background.jpg");
    padding            : 24px;
    height             : auto;
    min-height         : 800px;
    width              : auto;
    background-repeat  : no-repeat;
    background-position: 0% 50%;
}