[nz-form] {
}

nz-date-picker ::ng-deep .ant-calendar-picker {
  width: 100%;
}

nz-range-picker {
  margin: 0 8px 12px 0;
}

.form-title {
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0px 5px 5px #999999;
  color: #ffffff !important;
}

.icon-transfer {
  font-size: 40px;
  padding: 20px 20px;
  color: #6d8abe;
  cursor: pointer;
}

.btn-search {
  border-radius: 50%;
  margin-left: 50px;
  margin-top: -20px;
  width: 170px;
  height: 170px;
  border: 3px solid #30add4;
}

.btn-search-title {
  font-size: 25px;
  margin-left: 5px;
}

.search-icon {
  font-size: 40px;
  color: #30add4;
}

.inner-content {
  background-image: url("src/assets/img/main-background.jpg");
  padding: 24px;
  height: 100vh;
  // min-height         : 800px;
  width: auto;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

// .inner-content {
//   background         : #ffffff;
//   padding            : 24px;
//   height             : auto;
//   min-height         : 800px;
//   width              : auto;
//   background-repeat  : no-repeat;
//   background-position: 0% 50%;
// }

.steps {
  margin: 20px 0px;
}

.back-btn {
  width: 42px;
  height: 600px;
  font-size: 60px;
  padding: 285px 0px;
  border-radius: 40px !important;
  border: 1px solid #3dd5e0;
}

.back-icon {
  margin-left: -10px;
  color: #3dd5e0;
}

.step-4 {
  display: flex;
  color: black;

  .ticket-infos {
    font-size: 16px;

    .ticket-infos__title {
      font-weight: 500;
      font-size: 20px;
    }

    .ticket-infos__wrapper1 {
      padding: 20px 0px;
      border: 3px solid #dee2e2;
      border-radius: 12px;
      background-color: #ffffff;
    }

    .ticket-infos__wrapper2 {
      padding: 20px 0px;
      border: 3px solid #dee2e2;
      border-radius: 12px;
      background-color: #ffffff;
    }

    .ticket-infos__label {
      padding: 5px 0px;
      float: right;
    }

    .ticket-infos__row {
      margin-bottom: 25px;
    }

    .ticket-infos__content {
      margin-left: 10px;
      padding: 5px 15px;
      border: 1px solid #cccccc;
      font-weight: 600;
      border-radius: 5px;
      width: max-content;
    }
  }
}

// chon xe
body,
html {
  height: 100%;
}

.appBar {
  height: 150px;
  background-color: #3dd5e0;
}

.container-fluid {
  height: 100%;
  /*position: relative;*/
}

.pageContent {
  width: 100%;
  /*height    : 73%;*/
  /*max-height: 580px;*/
  /*position  : absolute;*/
  /*left      : 0;*/
  /*bottom    : 0;*/
}

h5 {
  font-weight: bold;
}

.totalBus {
  margin-left: 4.2rem;
  margin-bottom: 0;
}

.btn-outline-warning {
  border-radius: 19px;
  color: #ffc107;
}

.btn-outline-warning:hover {
  color: #fff;
}

.right-seats-section {
  margin-top: 2%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.pageContent > .col-md-10 {
  /*max-width: 1080px;*/
}

.box1 {
  // width     : 520px;
  box-sizing: border-box;
  position: relative;
}

.button-back {
  width: 42px;
  height: calc(100%);
  box-sizing: border-box;
  top: -12px;
  right: -5px;
  border: 1px solid #3dd5e0;
  border-radius: 21px;
  background-color: #fff;
  box-shadow: -3px 3px 3px 0 #828282;

  display: flex;
  align-items: center;
  justify-content: center;
}

.viewListBus {
  /*display: inline;*/
  max-height: 540px;
  /*max-width   : 1136px;*/
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 1.5rem;
  padding-left: 0;
  margin-left: 1.5rem;
}

.viewColumn {
  margin-right: 1.5rem;
}

.bus {
  padding: 1.5rem 0;
}

.bus:first-child {
  /*display: inline;*/
  // padding-top: 0;
}

.busContent {
  border: 1px solid #3dd5e0;
  box-shadow: -3px 3px 3px 0 #828282;
  background-color: #ffffff;
  margin: 10px;
}

.busButton {
  width: 42px;
  height: calc(100% + 24px);
  box-sizing: border-box;
  position: absolute;
  top: -12px;
  right: -5px;
  border: 1px solid #3dd5e0;
  border-radius: 21px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 #828282;

  display: flex;
  align-items: center;
  justify-content: center;
}

.busButton:hover,
.button-back:hover {
  background-color: #3dd5e0;
  border-color: #3dd5e0;
}

.busButton:hover span,
.button-back:hover span,
.busButton:active span,
.button-back:active span {
  color: white;
}

.busButton span,
.button-back span {
  color: #3dd5e0;
}
custom-back-col {
  margin-left: -20px;
}
.mype-4 {
  padding-right: 3.5rem !important;
}

.myps-1 {
  padding-left: 0.35rem !important;
}

.location-icon {
  color: #3dd5e0;
}

.location-icon > i {
  padding-right: 0.35rem !important;
}

.busTimeStart {
  align-self: center;
  font-weight: bold;
  font-size: 22px;
}

.busName {
  font-size: 20px;
  font-weight: bold;
  color: #3dd5e0;
  margin-bottom: 0.45rem;
}

.busSeatEmpty {
  align-self: end;
  font-style: italic;
  font-size: 18px;
  margin-left: 1.5rem;
  margin-bottom: 0;
  margin-top: 10px;
  color: #f2994a;
}

.busPrice {
  font-size: 26px;
  font-weight: bold;
  color: #eb5757;
  margin-bottom: 0;
}

.busRating {
  padding-top: 5px;
  margin-bottom: 0;
}

.busRating > span {
  color: #fff500;
}

.filter {
  width: 100%;
  height: 100%;
  border: 1px solid #3dd5e0;
  box-sizing: border-box;
  box-shadow: inset -2px -2px 2px 0 #828282, inset 2px 2px 2px 0 #828282;
  border-radius: 8px;
  padding: 0.75rem;
}

.filter-section {
  flex: 0 0 20% !important ;
  max-width: 20% !important;
}

.pick-bus-section {
  flex: 0 0 80% !important;
  max-width: 80% !important;
}

.my-form-control {
  padding: 0.25rem 0;
}

.tickets-section{
  width: 100% !important;
}

.me-2 {
  .hour {
    margin-right: 15%;
  }
  width: 50%;
}

.form-select {
  margin-left: 5% !important;
}

.my-form-control select {
  box-shadow: -1px 1px 1px 0 #828282;
}

[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}

// Chọn ghế
.seats-row {
  margin-left: 0px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.seats {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 80px;
  height: 35px;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 600px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  position: relative;
  transition: 0.2s;
}

.clicked-seats {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 80px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  position: relative;
  transition: 0.2s;
}

.seats:hover {
  border: 1px solid #98c7da;
  cursor: pointer;
}

.seat-reserved {
  background-color: gray;
  cursor: none;
  pointer-events: none;
}

.seat {
  left: 30px;
  top: 5px;
  position: absolute;
}

#e49_3 {
  overflow: hidden;
  opacity: 1;
  width: 100%;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  height: 80%;
}
#seat-container {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 100%;
  height: 462px;
}

.seats-container {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 2%;
}

.ground-seats {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 100%;
  height: 462px;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#e49_6 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 21px;
}
#e49_7 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid #64cff0;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_8 {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_9 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 76px;
}
#e49_10 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_11 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_12 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 131px;
}
#e49_13 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_14 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_15 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 186px;
}
#e49_16 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_17 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_18 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 241px;
}
#e49_19 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_20 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_21 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 299px;
}
#e49_22 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_23 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_24 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 351px;
}
#e49_25 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_26 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_27 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 406px;
}
#e49_28 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_29 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_30 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 21px;
}
#e49_31 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_32 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_33 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 76px;
}
#e49_34 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_35 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_36 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 131px;
}
#e49_37 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
  opacity: 1;
  border: 1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_38 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_39 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 186px;
}
#e49_40 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_41 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_42 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 241px;
}

.seats-component-container {
  display: flex;
  flex-direction: column;
}
.notations {
  display: flex;
  flex-direction: row;
  height: 20%;
}
#e49_43 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_44 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_45 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 299px;
}
#e49_46 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_47 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_48 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 351px;
}
#e49_49 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_50 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_51 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 406px;
}
#e49_52 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_53 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_54 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 21px;
}
#e49_55 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_56 {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_57 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 76px;
}
#e49_58 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_59 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_60 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 131px;
}
#e49_61 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
  opacity: 1;
  border: 1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_62 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_63 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 186px;
}
#e49_64 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_65 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_66 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 241px;
}
#e49_67 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_68 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_69 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 299px;
}
#e49_70 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_71 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_72 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 351px;
}
#e49_73 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_74 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_75 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 406px;
}
#e49_76 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_77 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#seat-container-ground {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 382px;
  height: 462px;
  position: absolute;
  left: 484px;
  top: 127px;
}
#e49_79 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 382px;
  height: 462px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#e49_80 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 21px;
}
#e49_81 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_82 {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_83 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 76px;
}
#e49_84 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_85 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_86 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 131px;
}
#e49_87 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_88 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_89 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 186px;
}
#e49_90 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_91 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_92 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 241px;
}
#e49_93 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_94 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_95 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 299px;
}
#e49_96 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_97 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_98 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 351px;
}
#e49_99 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_100 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_101 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 51px;
  top: 406px;
}
#e49_102 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_103 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_104 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 21px;
}
#e49_105 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_106 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_107 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 76px;
}
#e49_108 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_109 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_110 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 131px;
}
#e49_111 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_112 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_113 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 186px;
}
#e49_114 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_115 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_116 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 241px;
}
#e49_117 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_118 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_119 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 299px;
}
#e49_120 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_121 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_122 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 351px;
}
#e49_123 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_124 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_125 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 161px;
  top: 406px;
}
#e49_126 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_127 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_128 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 21px;
}
#e49_129 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_130 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_131 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 76px;
}
#e49_132 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_133 {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_134 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 131px;
}
#e49_135 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_136 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_137 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 186px;
}
#e49_138 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_139 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_140 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 241px;
}
#e49_141 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_142 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_143 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 299px;
}
#e49_144 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_145 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_146 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 351px;
}
#e49_147 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_148 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_149 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 271px;
  top: 406px;
}
#e49_150 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_151 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_152 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 42px;
  height: 462px;
  position: absolute;
  left: 1494px;
  top: 127px;
}
#e49_153 {
  background-color: white;
  opacity: 1;
  width: 42px;
  height: 462px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
#e49_154 {
  opacity: 1;
  width: 26px;
  height: 53.05653381347656px;
  position: absolute;
  left: 8px;
  top: 201.61483764648438px;
}
#e49_155 {
  opacity: 1;
  width: 26px;
  height: 53.05653381347656px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e49_156 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 26px;
  height: 53.05653381347656px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e49_157 {
  opacity: 1;
  width: 42px;
  height: 462px;
  position: absolute;
  left: 0px;
  top: 127px;
}
#e49_158 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 42px;
  height: 462px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
#e49_159 {
  opacity: 1;
  width: 26px;
  height: 53.478668212890625px;
  position: absolute;
  left: 8px;
  top: 203.00143432617188px;
}
#e49_160 {
  background-color: white;
  opacity: 1;
  width: 26px;
  height: 53.478668212890625px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.clicked-seats-section {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

#selected-seats-container {
  opacity: 1;
  width: 500px;
  height: 270px;
  background-color: white;
  left: 896px;
  border: 1px solid #64cff0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  top: 127px;
}
#e49_162 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 570px;
  height: 262px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#e49_163 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 21px;
  top: 21px;
}
#e49_164 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_165 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_166 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 101px;
  top: 21px;
}
#e49_167 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_168 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_169 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 181px;
  top: 21px;
}
#e49_170 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_171 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 31px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_172 {
  opacity: 1;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 261px;
  top: 21px;
}
#e49_173 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_174 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_175 {
  opacity: 1;
  width: 85%;
  height: 150px;
  left: 896px;
  top: 439px;
}
#e49_176 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid #64cff0;
  width: 500px;
  height: 150px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
}
#e49_177 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 100%;
  height: 36px;
  left: 51px;
  top: 26px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_178 {
  color: rgba(255, 70.55002391338348, 70.55002391338348, 1);
  opacity: 1;
  width: 154px;
  height: 53px;
  position: absolute;
  left: 269px;
  top: 86px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_179 {
  color: rgba(255, 70.55002391338348, 70.55002391338348, 1);
  opacity: 1;
  width: 75px;
  height: 53px;
  position: absolute;
  left: 444px;
  top: 86px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_180 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 13px;
  height: 36px;
  position: absolute;
  left: 161px;
  top: 26px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_181 {
  color: rgba(255, 70.55002391338348, 70.55002391338348, 1);
  opacity: 1;
  width: 24px;
  height: 53px;
  position: absolute;
  left: 187px;
  top: 18px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_182 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 109px;
  height: 33px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_183 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 114px;
  height: 33px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_184 {
  opacity: 1;
  width: 712px;
  height: 36px;
  left: 754px;
  top: 19px;
}
#e49_185 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 127px;
  height: 33px;
  margin-left: 10%;
  left: 0px;
  top: 0px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_186 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  margin-left: 2%;
  width: 102px;
  height: 33px;
  left: 214px;
  top: 1px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_187 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 71px;
  height: 33px;
  margin-left: 2%;
  left: 427px;
  top: 1px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_188 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 107px;
  height: 33px;
  margin-left: 2%;
  left: 605px;
  top: 1px;
  font-family: Rounded Mplus 1c;
  text-align: right;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_189 {
  opacity: 1;
  margin-left: 1%;
  width: 60px;
  height: 35px;
  left: 145px;
  top: 0px;
}
#e49_190 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid white;
  width: 60px;
  height: 35px;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_191 {
  opacity: 1;
  width: 60px;
  height: 35px;
  margin-left: 1%;
  left: 535px;
  top: 0px;
}
#e49_192 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(61.00000016391277, 213.00000250339508, 224.000001847744, 1);
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 60px;
  height: 35px;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_193 {
  opacity: 1;
  width: 60px;
  height: 35px;
  margin-left: 1%;
  left: 358px;
  top: 1px;
}
#e49_194 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
  opacity: 1;
  border: 1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  width: 60px;
  height: 35px;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e49_195 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 157px;
  height: 33px;
  left: 896px;
  top: 94px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_196 {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 106px;
  height: 33px;
  left: 896px;
  top: 406px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
  line-height: undefined;
}
#e49_197 {
  width: 20%;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  width: 352px;
  height: 71px;
  left: 72px;
  top: 0px;
  font-family: Rounded Mplus 1c;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
  line-height: undefined;
}
