<div [hidden]="screen_chon_xe" class="inner-content">
  <div>
    <div class="content-title mb-5">Đến bất cứ đâu bạn muốn !</div>

    <form nz-form [formGroup]="timXeForm" (ngSubmit)="timXe()">
      <nz-form-item nzJustify="center">
        <div nz-col [nzSpan]="3" nzOffset="4">
          <nz-form-label [nzSpan]="24"
            ><span class="form-title">Ngày đi</span></nz-form-label
          >
          <nz-form-control [nzSpan]="22">
            <nz-date-picker
              formControlName="ngay_di"
              nzFormat="dd/MM/yyyy"
            ></nz-date-picker>
          </nz-form-control>
        </div>
        <div nz-col [nzSpan]="3">
          <div>
            <nz-form-label [nzSpan]="24">
              <span class="form-title">Nơi đi</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="22">
              <nz-select nzShowSearch formControlName="diem_di">
                <nz-option nzLabel="Hà Nội" nzValue="Hà Nội"></nz-option>
                <nz-option nzLabel="Đà Nẵng" nzValue="Đà Nẵng"></nz-option>
                <nz-option nzLabel="Sài Gòn" nzValue="Sài Gòn"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
          <i
            nz-icon
            nzType="swap"
            class="icon-transfer"
            nzTheme="outline"
            (click)="transfer()"
          ></i>
        </div>
        <div nz-col [nzSpan]="3">
          <div>
            <nz-form-label [nzSpan]="24">
              <span class="form-title">Nơi đến</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="22">
              <nz-select nzShowSearch formControlName="diem_den">
                <nz-option nzLabel="Hà Nội" nzValue="Hà Nội"></nz-option>
                <nz-option nzLabel="Đà Nẵng" nzValue="Đà Nẵng"></nz-option>
                <nz-option nzLabel="Sài Gòn" nzValue="Sài Gòn"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
        <div nz-col [nzSpan]="3">
          <button nz-button class="btn-search">
            <i nz-icon nzType="search" class="search-icon" nzTheme="outline"></i
            ><span class="btn-search-title">Tìm vé</span>
          </button>
        </div>
      </nz-form-item>
    </form>
  </div>
</div>

<div
  [hidden]="!screen_chon_xe"
  style="background-color: #ffffff; padding: 20px; min-height: 100vh"
>
  <div>
    <!-- Step bar -->
    <div class="steps">
      <nz-steps [nzCurrent]="indexVal">
        <nz-step nzTitle="Chọn xe"></nz-step>
        <nz-step nzTitle="Chọn ghế"></nz-step>
        <nz-step nzTitle="Chọn điểm đón trả"></nz-step>
        <nz-step nzTitle="Đặt vé và thanh toán"></nz-step>
      </nz-steps>
    </div>
    <div class="row">
      <div class="col-1 custom-back-col">
        <button
          class="btn button-back"
          style="height: 75vh"
          (click)="previousStep()"
        >
          <span
            ><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i
          ></span>
        </button>
      </div>
      <div class="col-10">
        <!-- Chọn xe -->
        <div class="step-1" *ngIf="indexVal == 0">
          <div class="">
            <div class="row pageContent py-1">
              <div class="col-12 d-flex align-items-center">
                <h5 class="totalBus">Hiện có {{ xe.length }} xe</h5>
              </div>
              <!-- <div
                class="col-md-2 d-flex justify-content-between align-items-center"
              >
                <h5>Bộ lọc</h5>
                <button class="btn btn-outline-warning">Xóa lọc</button>
              </div> -->
            </div>
            <div class="row pageContent pb-2">
              <div class="col-12">
                <div class="row px-6">
                  <!-- view block 2 -->
                  <!-- <div class="viewColumn"> -->
                  <!-- bus 1 -->
                  <div class="bus col-sm-6" *ngFor="let item of xe">
                    <!-- content of bus -->
                    <div class="busContent box1 p-3 mype-4">
                      <!-- row 1 of bus -->
                      <div class="row">
                        <div class="col-md-8">
                          <p class="busName">{{ item.ten }}</p>
                        </div>
                        <div class="text-right col-md-4">
                          <p
                            *ngIf="item.ten == 'Phương Trang'"
                            class="busRating"
                          >
                            <span
                              *ngFor="
                                let item of [].constructor(starPT);
                                index as j
                              "
                              ><i class="fa fa-star" aria-hidden="true"></i
                            ></span>
                          </p>
                          <p *ngIf="item.ten == 'Thạnh Bưởi'" class="busRating">
                            <span
                              *ngFor="
                                let item of [].constructor(starTB);
                                index as j
                              "
                              ><i class="fa fa-star" aria-hidden="true"></i
                            ></span>
                          </p>
                        </div>
                      </div>
                      <!-- row 2 of bus -->
                      <div class="">
                        <div>
                          <p class="m-0">
                            <span class="location-icon"
                              ><i
                                class="fa fa-map-marker fa-2x"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <span
                              >{{ item.diem_don[0].gio }} |
                              {{ item.diem_don[0].dia_diem }}</span
                            >
                          </p>
                          <p class="m-0">
                            <span class="location-icon myps-1"
                              ><i
                                class="fa fa-long-arrow-down"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <span></span>
                          </p>
                          <p>
                            <span class="location-icon"
                              ><i
                                class="fa fa-map-marker fa-2x"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <span
                              >{{ item.diem_tra[item.diem_tra.length - 1].gio }}
                              |
                              {{
                                item.diem_tra[item.diem_tra.length - 1].dia_diem
                              }}</span
                            >
                          </p>
                        </div>
                      </div>
                      <!-- row 3 of bus -->
                      <div class="d-flex justify-content-between">
                        <p class="busSeatEmpty">
                          {{ item.vi_tri_trong.length }} chỗ trống
                        </p>
                        <p class="busPrice">{{ item.gia_ve }} vnd</p>
                      </div>
                      <!-- button of bus -->
                      <button class="btn busButton" (click)="chonXe(item)">
                        <span
                          ><i
                            class="fa fa-arrow-circle-right fa-2x"
                            aria-hidden="true"
                          ></i
                        ></span>
                      </button>
                    </div>
                    <!-- /busContent -->
                  </div>
                  <!-- /bus 1 -->
                  <!-- </div>    -->
                  <!-- view block 2 -->
                </div>
              </div>
              <!-- <div class="filter-section col-md-2">
                <div class="filter">
                  <form>
                    <div class="my-form-control">
                      <label class="form-label" for="nhaxe">Nhà xe</label>
                      <select class="form-select" id="nhaxe">
                        <option selected>Phương Trang</option>
                      </select>
                    </div>
                    <div class="my-form-control">
                      <label class="form-label" for="diemdi">Điểm đi</label>
                      <select class="form-select" id="diemdi">
                        <option selected>Sài Gòn</option>
                      </select>
                    </div>
                    <div class="my-form-control">
                      <label class="form-label" for="diemden">Điểm đến</label>
                      <select class="form-select" id="diemden">
                        <option selected>Hà Tiên</option>
                      </select>
                    </div>
                    <div class="my-form-control">
                      <label class="form-label" for="sapxepgiave"
                        >Sắp xếp giá vé</label
                      >
                      <select class="form-select" id="sapxepgiave">
                        <option selected>Thấp đến cao</option>
                      </select>
                    </div>
                    <div class="my-form-control">
                      <label class="form-label" for="sapxepdanhgia"
                        >Sắp xếp đánh giá</label
                      >
                      <select class="form-select" id="sapxepdanhgia">
                        <option selected>4 sao</option>
                      </select>
                    </div>
                    <div class="my-form-control">
                      <label class="form-label">Thời gian khởi hành</label>
                      <div class="d-flex justify-content-center">
                        <div class="me-2">
                          <label class="hour" for="hour">Giờ</label>
                          <select class="form-select" id="hour">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option selected>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                          </select>
                        </div>
                        <div class="me-2">
                          <label class="hour" for="hour">Phút</label>
                          <select class="form-select" id="hour">
                            <option>00</option>
                            <option selected>30</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Chọn xe -->

        <!-- Chọn ghế -->
        <div class="step-2" *ngIf="indexVal == 1">
          <div class="seats-component-container">
            <div class="notations">
              <h3>{{ xe_da_chon.ten }}</h3>
              <span id="e49_185">Trạng thái:</span>
              <span id="e49_186">Còn trống</span>
              <div id="e49_189">
                <div id="e49_190"></div>
              </div>
              <span id="e49_187">Đã đặt</span>
              <div id="e49_191">
                <div id="e49_192"></div>
              </div>
              <span id="e49_188">Đang chọn</span>
              <div id="e49_193">
                <div id="e49_194"></div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="listSeats" id="e49_3">
            <div class="col-sm-4">
              <h6 id="">Tầng trên</h6>
              <div id="seat-container">
                <div class="my-card">
                  <div
                    class="seats-row"
                    *ngFor="
                      let item of [].constructor(clonedMapA.Row);
                      index as i
                    "
                  >
                    <div
                      (click)="onSeatClick(clonedMapA.listSeat[j + 2 * i])"
                      class="seats A"
                      [class.seat-reserved]="
                        clonedMapA.listSeat[j + 2 * i].reserved
                      "
                      *ngFor="
                        let item of [].constructor(clonedMapA.Column);
                        index as j
                      "
                    >
                      <span id="seats" class="seat"
                        >{{ clonedMapA.listSeat[0].digit }}{{ j + 2 * i }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h6 id="">Tầng dưới</h6>
              <div id="seat-container">
                <div class="my-card">
                  <div
                    class="seats-row"
                    *ngFor="
                      let item of [].constructor(clonedMapB.Row);
                      index as i
                    "
                  >
                    <div
                      (click)="onSeatClick(clonedMapB.listSeat[j + 2 * i])"
                      [class.seat-reserved]="
                        clonedMapB.listSeat[j + 2 * i].reserved
                      "
                      class="seats B"
                      *ngFor="
                        let item of [].constructor(clonedMapB.Column);
                        index as j
                      "
                    >
                      <span id="seats" class="seat"
                        >{{ clonedMapB.listSeat[0].digit }}{{ j + 2 * i }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div style="height: 60%">
                <h6 id="">Danh sách ghế</h6>
                <!-- <span id="e49_195">Danh sách ghế</span> -->
                <div
                  class="my-card"
                  style="
                    scroll-behavior: smooth;
                    overflow-y: auto;
                    height: 70%;
                  "
                >
                  <div
                    *ngIf="clickedSeats"
                    class="row col-12"
                    style="height: 100%"
                  >
                    <div
                      class="col-4"
                      *ngFor="let item of clickedSeats; index as i"
                    >
                      <div class="clicked-seats">
                        <span id="seats" class="seat"
                          >{{ item.digit }}{{ item.index }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="height: 40%">
                <h6 id="">Tổng tiền</h6>
                <div class="my-card p-2" style="height: 80%">
                  <h6 id="">{{ totalPrice }} VNĐ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End chọn ghế -->

        <!-- Chọn điểm đón/trả -->
        <div class="step-3" *ngIf="indexVal == 2">
          <div *ngIf="xe_da_chon">
            <h3>{{ xe_da_chon.ten }}</h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="p-2 border rounded shadow-sm">
                  <h5>Điểm đón</h5>
                  <div>
                    <nz-radio-group [(ngModel)]="diem_don">
                      <label
                        *ngFor="let item of xe_da_chon.diem_don; index as i"
                        nz-radio
                        [nzValue]="item"
                      >
                        {{ item.gio }} | {{ item.dia_diem }}
                      </label>
                    </nz-radio-group>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="p-2 border rounded shadow-sm">
                  <h5>Điểm trả</h5>
                  <div>
                    <nz-radio-group [(ngModel)]="diem_tra">
                      <label
                        *ngFor="let item of xe_da_chon.diem_tra; index as i"
                        nz-radio
                        [nzValue]="item"
                      >
                        {{ item.gio }} | {{ item.dia_diem }}
                      </label>
                    </nz-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Chọn điểm đón/trả -->
        <!-- Thanh toán -->
        <div class="step-4" *ngIf="indexVal == 3">
          <span class="ticket-infos col-md-8">
            <div class="ticket-infos__title">Thông tin vé</div>
            <div class="ticket-infos__wrapper1">
              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Nơi đi</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ xe_da_chon.diem_di }}
                  </div>
                </div>
              </div>
              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Nơi đến</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ xe_da_chon.diem_den }}
                  </div>
                </div>
              </div>
              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Ngày khởi hành</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ xe_da_chon.ngay_di }}
                  </div>
                </div>
              </div>

              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Thời gian khởi hành</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ diem_don.gio }}
                  </div>
                </div>
              </div>

              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Điểm đón</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ diem_don.gio }} |
                    {{ diem_don.dia_diem }}
                  </div>
                </div>
              </div>

              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Điểm trả</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">
                    {{ diem_tra.gio }} |
                    {{ diem_tra.dia_diem }}
                  </div>
                </div>
              </div>

              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Vị trí ghế</div>
                </div>
                <div nz-col nzSpan="18">
                  <span
                    *ngFor="let seat of ghe_da_chon"
                    class="ticket-infos__content"
                    >{{ seat.digit }}{{ seat.index }}</span
                  >
                </div>
              </div>

              <div nz-row class="ticket-infos__row">
                <div nz-col nzSpan="6">
                  <div class="ticket-infos__label">Tổng tiền</div>
                </div>
                <div nz-col nzSpan="18">
                  <div class="ticket-infos__content">{{ totalPrice }}</div>
                </div>
              </div>
            </div>
          </span>
          <div class="col-md-4">
            <form nz-form [formGroup]="customerInfoForm" (ngSubmit)="datVe()">
              <span class="ticket-infos">
                <div class="ticket-infos__title">Thông tin hành khách</div>
                <div
                  class="ticket-infos__wrapper2"
                  style="margin-bottom: 10px !important"
                >
                  <nz-form-item style="margin-bottom: 10px">
                    <label
                      for="ten_kh"
                      class="col-12"
                      style="margin: 0 !important"
                      >Tên hành khách</label
                    >
                    <nz-form-control
                      class="col-12"
                      nzErrorTip="Vui lòng không để trống trường này!"
                    >
                      <input
                        id="ten_kh"
                        type="text"
                        nz-input
                        formControlName="ten_kh"
                      />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item style="margin-bottom: 10px">
                    <label
                      for="sdt_kh"
                      class="col-12"
                      style="margin: 0 !important"
                      >Số điện thoại</label
                    >
                    <nz-form-control
                      class="col-12"
                      nzErrorTip="Vui lòng không để trống trường này!"
                    >
                      <input
                        id="sdt_kh"
                        type="text"
                        nz-input
                        formControlName="sdt_kh"
                      />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item style="margin-bottom: 10px">
                    <label
                      for="email_kh"
                      class="col-12"
                      style="margin: 0 !important"
                      >Email</label
                    >
                    <nz-form-control class="col-12">
                      <input
                        id="email_kh"
                        type="text"
                        nz-input
                        formControlName="email_kh"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </span>
              <span class="ticket-infos">
                <div class="ticket-infos__title">Phương thức thanh toán</div>
                <div
                  class="ticket-infos__wrapper2"
                  style="margin-bottom: 10px !important"
                >
                  <div class="col-12">
                    <nz-radio-group formControlName="pt_thanh_toan">
                      <label
                        *ngFor="let item of pt_thanh_toans; index as i"
                        nz-radio
                        [nzValue]="item"
                      >
                        {{ item }}
                      </label>
                    </nz-radio-group>
                  </div>
                </div>
              </span>
              <nz-form-item>
                <nz-form-control class="col-12">
                  <button
                    nz-button
                    nzType="primary"
                    style="width: 100%; border-radius: 50vw"
                  >
                    Thanh toán
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
        <!-- End Thanh toán -->
      </div>
      <div class="col-1">
        <button
          *ngIf="indexVal != 0 && indexVal != 3"
          class="btn button-back float-right"
          style="height: 75vh"
          (click)="nextStep()"
        >
          <span
            ><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
