<ngx-alerts></ngx-alerts>
<div class="shipper-management-container">
    <div class="section-title">
        LỊCH SỬ HOẠT ĐỘNG ĐẠI LÝ
    </div>
    <div class="view-body-container">
        <div class="show-data-section">
            <hoadon-datashowing [someInput]="inputValue"></hoadon-datashowing>
        </div>
  
        <div class="options-section">
            <div class="options-title">
               CHỨC NĂNG
            </div>
            <div class="btn btn-secondary"(click)="createInvoice();">
                Tạo phiếu xuất
            </div>
            <div class="btn btn-secondary"(click)="createBill();">
                Tạo phiếu thu
            </div>
            <!-- <div class="btn btn-secondary">
              Tạo đơn xuất
          </div> -->
        </div>
    </div>
    <div class="debt-section">
        <h3>
            Số tiền đại lý đang nợ:
        </h3> 
    </div>
  </div>