<div class="inner-content">
  <div class="steps">
    <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
      <nz-step nzTitle="Chọn xe"></nz-step>
      <nz-step nzTitle="Chọn ghế"></nz-step>
      <nz-step nzTitle="Chọn điểm đón trả"></nz-step>
      <nz-step nzTitle="Đặt vé và thanh toán"></nz-step>
    </nz-steps>
  </div>

  <div class="step-1" *ngIf="index == 0">page1</div>
  <div class="step-2" *ngIf="index == 1">page2</div>
  <div class="step-3" *ngIf="index == 2">page3</div>
  <div class="step-4" *ngIf="index == 3">
    <label nz-radio-button class="back-btn" (click)="goBack()" nzValue="large"
      ><i class="back-icon" nz-icon nzType="caret-left" nzTheme="outline"></i
    ></label>
    <span class="ticket-infos">
      <div class="ticket-infos__title">Thông tin vé</div>
      <div class="ticket-infos__wrapper1">
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Nơi đi</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Sài Gòn</div>
          </div>
        </div>
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Nơi đến</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Hà Tiên</div>
          </div>
        </div>
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Ngày khởi hành</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">29 - 12- 2020</div>
          </div>
        </div>

        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Thời gian khởi hành</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">8:30</div>
          </div>
        </div>

        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Điểm đón</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">227 Nguyễn Văn Cừ</div>
          </div>
        </div>

        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Điểm trả</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Cầu Rạch Giá 2</div>
          </div>
        </div>

        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Vị trí ghế</div>
          </div>
          <div nz-col nzSpan="18">
            <span class="ticket-infos__content">B01</span>
            <span class="ticket-infos__content">A01</span>
            <span class="ticket-infos__content">B01</span>
            <span class="ticket-infos__content">B06</span>
          </div>
        </div>

        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Tổng tiền</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">660.000 vnd</div>
          </div>
        </div>
      </div>
    </span>

    
    <span class="ticket-infos">
      <div class="ticket-infos__title">Thông tin hành khách</div>
      <div class="ticket-infos__wrapper2">
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Điểm trả</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Cầu Rạch Giá 2</div>
          </div>
        </div>
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Điểm trả</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Cầu Rạch Giá 2</div>
          </div>
        </div>
        <div nz-row class="ticket-infos__row">
          <div nz-col nzSpan="6">
            <div class="ticket-infos__label">Điểm trả</div>
          </div>
          <div nz-col nzSpan="18">
            <div class="ticket-infos__content">Cầu Rạch Giá 2</div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
