<div class="title">Chi Tiết Đơn Xuất</div>
<div class="container">
  <form [formGroup]="agencyFormGroup">
    <div class="row">
      <div class="col-15">
        <h6>Đại lý: </h6>
      </div>
      <div class="col-35">
        <input type="text" id="AgencyCode" placeholder="Nhập mã đại lý..." class="field-input form-control"
          formControlName="daiLy"
          [class.is-invalid]="agencyFormGroup.get('daiLy').invalid && agencyFormGroup.get('daiLy').touched"
          [(ngModel)]="agencyCode" name="daiLy" ngModel>
      </div>
      <div class="col-15">
        <h6>Mã Phiếu Xuất: </h6>
      </div>
      <div class="col-35">
        <input type="text" id="AgencyCode" placeholder="Nhập mã phiếu xuất..." class="field-input form-control"
          formControlName="phieuxuat"
          [class.is-invalid]="agencyFormGroup.get('phieuxuat').invalid && agencyFormGroup.get('phieuxuat').touched"
          [(ngModel)]="inputObject.maphieuxuat" name="phieuxuat" ngModel>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-15">
        <h6>Mặt hàng: </h6>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Nhập mã mặt hàng..." class="field-input form-control" formControlName="matHang"
          [class.is-invalid]="agencyFormGroup.get('matHang').invalid && agencyFormGroup.get('matHang').touched"
          [(ngModel)]="inputObject.mamathang" name="matHang" ngModel>
      </div>
      <div class="col-15">
        <h6>Đơn vị tính: </h6>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Nhập đơn vị tính..." class="field-input form-control" formControlName="donVi"
          [class.is-invalid]="agencyFormGroup.get('donVi').invalid && agencyFormGroup.get('donVi').touched"
          [(ngModel)]="inputObject.donvitinh" name="donVi" ngModel>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-15">
        <h6>Số lượng: </h6>
      </div>
      <div class="col-35">
        <input type="number" placeholder="Nhập số lượng..." class="field-input form-control" (keyup)="thanhTien()"
          formControlName="soLuong"
          [class.is-invalid]="agencyFormGroup.get('soLuong').invalid && agencyFormGroup.get('soLuong').touched"
          [(ngModel)]="inputObject.soluong" name="soLuong" ngModel>
      </div>
      <div class="col-15">
        <h6>Đơn giá: </h6>
      </div>
      <div class="col-35">
        <input type="number" placeholder="Nhập đơn giá..." class="field-input form-control" (keyup)="thanhTien()"
          formControlName="donGia"
          [class.is-invalid]="agencyFormGroup.get('donGia').invalid && agencyFormGroup.get('donGia').touched"
          [(ngModel)]="inputObject.dongia" name="donGia" ngModel>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-15">
        <h6>Thành tiền: </h6>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Nhập số lượng và đơn giá..." class="field-input form-control"
          formControlName="thanhTien"
          [class.is-invalid]="agencyFormGroup.get('thanhTien').invalid && agencyFormGroup.get('thanhTien').touched"
          [(ngModel)]="tongTien" name="thanhTien" ngModel>
      </div>
      <div class="col-15">
        <h6>Ngày lập phiếu: </h6>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Nhập ngày lập phiếu..." class="field-input form-control"
          formControlName="ngayLapPhieu"
          [class.is-invalid]="agencyFormGroup.get('ngayLapPhieu').invalid && agencyFormGroup.get('ngayLapPhieu').touched"
          [(ngModel)]="phieuXuatCreateModel.ngaylap" name="ngayLapPhieu" ngModel>
      </div>
    </div>
  </form>
  <div class="container-btn">
    <button type="submit" id="save-button" class="btn button-log-in" (click)="onClickSave()">Xuất đơn</button>
    <button class="btn btn-danger button-cancel" (click)="onClickCloseButton()">Thoát</button>
  </div>
</div>